---
import TagList  from './tagList.astro'
import { Image } from "astro:assets";
const {
    title,
    author, 
    description,
    images,
    pubDate,
    tags, 
    url
} = Astro.props; 
let datePublished : Date | null = pubDate ? new Date(pubDate)  : null; 
const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
---
<div
    class = "rounded-lg box_shadow m-5 bg-white blog-preview-panel"
    id="blog-preview-panel"
>
    <div
        id="preview_wrapper"
        class = "w-11/12 mx-auto py-10"
    >
    {title && 
        <a 
            href={url} 
            class = "cursor-pointer text-center text-2xl"
            ><h2 class = "font-bold">{title}</h2></a>
    }
    {images && images.length > 0 &&
        <div
        class = "object-fit cursor-pointer"
        >
            <a 
                href={url}
            >
                <Image
                    src = {images[0].url}
                    alt = {images[0].alt}
                    width = {100}
                    height = {100}
                    class = "w-full h-full"
                />
            </a>
        </div>
        
    }
    <p>
    {author &&
        <span
        class = "font-bold"
        >Published by <b>{author}</b></span>
    } 
    {datePublished &&
        <span> | {datePublished.toLocaleDateString()}</span>
    }
    </p>
    {description &&
        <p><b>Description: </b>{description}</p>

    }
    {tags && tags.length > 0 &&
        <TagList tags = {tags} />
    }
</div>
</div>